* {
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* Con este estilo podemos hacer responsiva nuestra imagen, es decir, que mantendra una relacion de aspecto dependiendo de la ventana del dispositivo donde estamos viendo nuestro archivo */
img {
  width: 100%;
}
/* estilos al contenedor. con esto podemos centralizar y separa nuestro contenido de los bordes de la ventana */
.contenedor {
  width: 95vw;
  max-width: 562px;
  margin: 0 auto;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Media QUery para disminuir el contenedor cuando la pantalla no mida mas de 560 px */
@media screen and (min-width: 760px) {
  .contenedor {
    width: 90%;
    margin: 0 auto;
  }
}
/* estilos para el link, quitamos el subrayado y cambiamos el color de texto */
